body {
 margin: 0;
 background: #0d1117;
 color: white;
}

/* Sidebar collapsed */
.sidebar {
 width: 60px;
 position: fixed;
 height: 100%;
 background: #161b22;
 transition: 0.3s;
 overflow: hidden;
}

/* Expanded */
.sidebar.active {
 width: 250px;
}

.sidebar a {
 display: block;
 padding: 10px;
 color: white;
}

/* Main */
.main {
 margin-left: 70px;
 padding: 20px;
 transition: 0.3s;
}

.main.active {
 margin-left: 260px;
}

.card {
 background: #161b22;
 padding: 15px;
 margin: 10px 0;
 border-radius: 10px;
}
